body {
  background-color: rgb(181, 181, 223);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

#weather-container {
  background: rgb(32, 32, 134);
  max-width: 600px;
  width: 90%;
  height: 35rem;
  position: fixed;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 8px 32px;
  text-align: center;
}

h1 {
  color: white;
}

input[type="text"] {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  color: grey;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

button {
  background-color: rgb(12, 11, 11);
  color: white;
  font-size: 1.4rem;
  height: 3rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.8rem;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
}
button:hover {
  background-color: green;
  color: black;
  transition: background-color 0.5s ease-in;
}
.error {
  color: red;
  font-weight: bolder;
  font-size: 3rem;
}

@media (max-width: 600px) {
  #weather-container {
    padding: 1.5rem;
    width: 95%;
  }

  input[type="text"] {
    font-size: 1rem;
    padding: 0.7rem;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
